.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color)
}

.cards > ul > li:nth-child(2) {
  border: 5px solid black;
}

.cards.no-border > ul > li {
  border: none;
}

.cards .cards-card-body {
  margin: 16px;
  font-size: 15px;
}

.cards.no-border .cards-card-body {
  text-align: center;
  color: red;
  font-size: 25px;
}

.cards .cards-card-image {
  line-height: 0;
  width: 100%;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (min-width: 900px) {
  .cards.no-border > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 16px;
  }
}