footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

@media (min-width: 600px) {
  footer .footer > div > div  {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  footer .footer > div > div > p {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
}